<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resultado_cliente.css">
    <title>Resultados de Búsqueda de Cliente</title>
</head>
<body>
            <% if (success && success.length > 0) { %>
    <script>
        alert("<%= success[0] %>");
    </script>
    <% } %>

    <% if (error && error.length > 0) { %>
    <script>
        alert("<%= error[0] %>");
    </script>
    <% } %>
    <h1>Resultados de Búsqueda de Cliente</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Receta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (clientes.length > 0) { %>
                <% clientes.forEach(cliente => { %>
                    <tr>
                        <td><%= cliente.nombre %></td>
                        <td><%= cliente.apellido_paterno %></td>
                        <td><%= cliente.apellido_materno %></td>
                        <td><%= cliente.receta %></td>
                        <td class="button-container">
                            <a href="/menu/editarcliente_buscar/<%= cliente.id_clientes %>" class="edit-button">Editar</a>
                            <form action="/menu/eliminar_cliente/<%= cliente.id_clientes %>?nombre=<%= nombreBuscado %>" method="post" style="display:inline;" onsubmit="return confirmarEliminarCliente()">
                                <button type="submit" class="delete-button">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="6">No se encontraron clientes con ese nombre.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/menu/clientes" class="edit-button">Regresar</a>
    </div>

    <!-- SCRIPT DE CONFIRMACIÓN -->
    <script>
        function confirmarEliminarCliente() {
            return confirm('¿Estás seguro de que deseas eliminar este cliente?');
        }
    </script>
</body>
</html>
