<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración - MediStock</title>
    <link rel="stylesheet" href="/datos_admin.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
            </div>
            <br>
            <br>
            <nav>
                <ul>
                    <li>
                        <img width="40" height="40" src="/icons/icons2.png" alt="user" class="menu-icon"/>
                        <a href="/menu_admin/inicio_admin">Inicio</a>
                    </li>
                    <li>
                        <img width="40" height="40" src="/icons/icons3.png" alt="user" class="menu-icon"/>
                        <a href="/menu_admin/datos_medicamentos_admin">Datos de Medicamentos</a>
                    </li>
                    <li>
                        <img width="40" height="40" src="/icons/icons4.png" alt="user" class="menu-icon"/>
                        <a href="/menu_admin/medicamentos_admin">Registro de Medicamentos</a>
                    </li>
                    <li>
                        <img width="40" height="40" src="/icons/iconusuario.png" alt="user" class="menu-icon"/>
                        <a href="/menu_admin/clientes_admin">Clientes</a>
                    </li>
                    <li>
                        <img width="40" height="40" src="/icons/icons5.png" alt="user" class="menu-icon"/>
                        <a href="/menu_admin/proveedores_admin">Proveedores</a>
                    </li>
                    <li>
                        <img width="40" height="40" src="/icons/iconadministra.png" alt="user" class="menu-icon"/>
                        <a href="/menu_admin/administrar_usuarios">Administrar Usuarios</a>
                    </li>
                    <li>
                        <img width="40" height="40" src="/icons/compra.png" alt="user" class="menu-icon"/>
                        <a href="/menu_admin/venta">Venta</a>
                    </li>
                    <li>
                        <img width="40" height="40" src="/icons/cerrar-sesion.png" alt="user" class="menu-icon"/>
                        <a href="/">Cerrar Sesion</a>
                    </li>  
                </ul>
            </nav>
        </aside>
        <main class="content">

            <section id="agregar-medicamentos" class="section">
                <div class="container table-container">                    
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio de Venta</th>
                                <th>Fecha de Caducidad</th>
                                <th>Presentación</th>
                                <th>Controlado</th>
                                <th>Proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (medicamentos && medicamentos.length > 0) { %>
                                <% medicamentos.forEach(medicamento => { %>
                                    <tr>
                                        <td><%= medicamento.id_medicamentos %></td>
                                        <td><%= medicamento.nombre %></td>
                                        <td><%= medicamento.cantidad %></td>
                                        <td><%= medicamento.precio %></td>
                                        <td><%= medicamento.fecha_caducidad.toISOString().split('T')[0] %></td>
                                        <td><%= medicamento.nombre_presentacion %></td>
                                        <td><%= medicamento.nombre_controlado %></td>
                                        <td><%= medicamento.nombre_proveedor %></td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="8">No hay medicamentos para mostrar</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <br>
                <!-- <form action="/datos_medicamentos_admin" method="POST">
                    <label for="cantidad">Cantidad de Medicamentos a Mostrar:</label>
                    <input type="number" id="cantidad" name="cantidad" min="1" required>
                    <button type="submit" class="btn-guardar">Mostrar</button>
                </form> -->
                <br>
            </section>
            <a href="/menu_admin/reporte_medicamentos" class="btn-guardar" target="_blank">Generar Reporte en PDF</a>   
        </main>
    </div>

</body>
    <script>
        window.onload = function() {
            document.querySelector(".table-container").scrollIntoView({ behavior: "smooth" });
        };
    </script>
</html>