<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resultado_proveedor.css">
    <title>Resultados de Búsqueda de Medicamentos</title>
</head>
<body>
        <% if (success && success.length > 0) { %>
<script>
    alert("<%= success[0] %>");
</script>
<% } %>

<% if (error && error.length > 0) { %>
<script>
    alert("<%= error[0] %>");
</script>
<% } %>
    <h1>Resultados de Búsqueda de Medicamentos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha de Caducidad</th>
                <th>Presentación</th>
                <th>Controlado</th>
                <th>Proveedor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (medicamentos.length > 0) { %>
                <% medicamentos.forEach(medicamento => { %>
                    <tr>
                        <td><%= medicamento.nombre %></td>
                        <td><%= medicamento.cantidad %></td>
                        <td>$<%= medicamento.precio %></td>
                        <td><%= medicamento.fecha_caducidad ? medicamento.fecha_caducidad : 'Sin fecha' %></td>
                        <td><%= medicamento.nombre_presentacion || 'Sin presentación' %></td>
                        <td><%= medicamento.nombre_controlado %></td>
                        <td><%= medicamento.nombre_proveedor || 'Proveedor eliminado' %></td>
                        <td class="button-container">
                            <a href="/menu_admin/modificar_medicamento/<%= medicamento.id_medicamentos %>" class="edit-button">Editar</a>
                            <form action="/menu_admin/eliminar_medicamento/<%= medicamento.id_medicamentos %>?nombre=<%= nombreBuscado %>" method="post" style="display:inline;" onsubmit="return confirmarEliminarMedicamento()">
                                <button type="submit" class="delete-button">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="9">No se encontraron medicamentos con ese criterio de búsqueda.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/menu_admin/medicamentos_admin" class="edit-button">Regresar</a>
    </div>

    <!-- SCRIPT DE CONFIRMACIÓN -->
    <script>
        function confirmarEliminarMedicamento() {
            return confirm('¿Estás seguro de que deseas eliminar este medicamento?');
        }
    </script>
</body>
</html>
