<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resultado_proveedor.css">
    <title>Resultados de Búsqueda de Proveedores</title>
</head>
<body>
    <% if (success && success.length > 0) { %>
<script>
    alert("<%= success[0] %>");
</script>
<% } %>

<% if (error && error.length > 0) { %>
<script>
    alert("<%= error[0] %>");
</script>
<% } %>

    <h1>Resultados de Búsqueda de Proveedores</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (proveedores.length > 0) { %>
                <% proveedores.forEach(proveedor => { %>
                    <tr>
                        <td><%= proveedor.nombre %></td>
                        <td><%= proveedor.direccion %></td>
                        <td><%= proveedor.telefono %></td>
                        <td><%= proveedor.correo %></td>
                        <td class="button-container">
                            <a href="/menu_admin/administrar_proveedores/modificar_proveedor/<%= proveedor.id_proveedores %>" class="edit-button">Editar</a>
                            <form action="/menu_admin/eliminar_proveedor/<%= proveedor.id_proveedores %>?nombre=<%= nombreBuscado %>" method="post" style="display:inline;" onsubmit="return confirmarEliminar()">
                                <button type="submit" class="delete-button">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="6">No se encontraron proveedores con ese criterio de búsqueda.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/menu_admin/proveedores_admin" class="edit-button">Regresar</a>
    </div>

    <script>
        function confirmarEliminar() {
            return confirm('¿Estás seguro de que quieres eliminar este proveedor?');
        }
    </script>
</body>
</html>
